html, body {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    background-color: hsl(130, 30%, 97%);
}

h2 {
    font-size: 16px;
}

.answerBtn {
    border-radius: 8px;
    border: 1px solid green;
    font-weight: bolder;
    background: linear-gradient(white, Silver);
    width: 250px;
    height: 30px;
    margin: 5px; 5px;
}

.answerBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background: linear-gradient(45grad, green,darkgreen);
    color: white; font-weight: bold;

}

input[type=radio] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.3em;
    width: 100%;
}

input[type=radio] {
    display: none;
}

input[type=radio] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    line-height: 20px;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding: 0.2em 0.2em 0.2em 0.35em;
    margin-right: 0.2em;
    color: transparent;
    transition: .8s;
}

input[type=radio] + label:active:before {
    transform:scale(0);
}

input[type=radio]:checked + label:before {
    background-color: #4CAF50;
    border-color: #4cAF50;
    color: #fff;
}

input[type=radio]:checked + label {
    background: #ccc;
}

.timer {
    padding: 10px;

}
.red {
    padding: 10px;
    background: white; 
    color: red;
    border: 1px solid red;
}

/* newgame.php settings */

.newgameBtn {
    margin: 200px 40% 0 40%;
    background: #000;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: lightgreen;
    border: 20px solid #4CAF50;
    transition: 0.8s;
}

.newgameBtn:hover{
    transform: rotate(360deg);
}


button:active {
  transform: translateY(6px);
}
/*result.php settings */

@keyframes color_change {
  0%   {color: #fff;}
  50%  {color: #ddd;}
  100% {color: #4CAF50;}
}

@keyframes show {
 0% {color: #fff;}
 100% {color: #000;}
}


h1 {
    font-size: 18px;
    text-align: center;
    color: #4CAF50;
    animation-name: color_change;
    animation-duration: 2s;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 0 20% 0 20%;
}

th, td {
    padding: 20px;
    text-align: center;
}

th {
        background: linear-gradient(lightgreen,#4CAF50,#4CAF50);
        color: white;
}

tr:nth-child(odd){
    background-color: white;
    animation-name: show;
    animation-duration: 4s;
}
tr:nth-child(even){
    background-color: #f2f2f2;
    animation-name: show;
    animation-duration: 2s;
}

input[type=button] {
    border-radius: 50%;
    border: 1px solid green;
    font-size: 12px;
    font-weight: bolder;
    background: linear-gradient(white, Silver);
    width: 100px;
    height: 100px;
    margin: 5% 47.5% 0 47.5%;
    transition: 1.5s;
}

input[type=button]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background: linear-gradient(45grad, green,darkgreen);
    color: white; font-weight: bold;
    transform: rotate(360deg);
}


