
html, body {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    background-color: hsl(130, 30%, 97%);
}

header {
    text-align: center;
    font-size: 12px;
    width: 99%;
    padding: 10px;
    background: linear-gradient(45deg, black, #BEBEBE);
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 30px;
}

header:hover {
    color: ghostwhite;
}

.searchField-container {
    width: 98%;
    padding: 10px;
    background: ghostwhite;
    border: 3px solid #ccc;
    box-shadow: 1px 3px 3px #000;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin: auto;
    margin-top: 50px;
}

table {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

table, tr, th, td {
    border-collapse: collapse;
    border: 1px solid #fff;
    padding: 10px;
}


tr:nth-child(odd){background-color: #fff}
tr:nth-child(even){background-color: #f2f2f2}

th {
  background: #4CAF50;
  color: white;
}

td {
    padding: 10px;
}

input[type=text], input[type=search]  {
    padding:5px;
    width: 98%;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: auto;
}

.container-keyWord {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.container-hiddenBtn {
    width: 20%;
    margin: auto;
    padding: 20px;
}

.noResult {
    width: 30%;
    margin: auto;
    padding: 10px;
    background: green;
    border-left: 5px solid darkgreen;
    color: #fff;
    font-weight: bold;
    text-align: center;
}


input[type=number] {
    padding: 5px;
    width: 20%;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


input[type=number]:focus, input[type=text]:focus, input[type=search]:focus {
        background: lightgreen;
}

input[type=submit], button {
    border-radius: 8px;
    font-weight: bold;
    width: 250px;
    height: 30px;
    cursor: pointer;
}

button {
    background: linear-gradient(silver, gray);
    border: 1px solid green;
}

input[type=submit] {
    background: linear-gradient(lightblue,navy,navy);
    color: white;
    border: 1px solid white;
}

input[type=submit]:hover, button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background: green;
    color: white;
    border: 1px solid white;
}

.Btn-container {
    width: 20%;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
}

select {
    margin: 5px 5px;
    background: linear-gradient(white, #4CAF50);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    min-width: 200px;
    height: 30px;
    text-align-last: center;
    font-weight: bold;
}

